<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="color: purple;">Slice</title>
    <style>
        .container {
            text-align: center;
            margin: 100px auto;
            max-width: 500px;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        h1 {
            color: purple;
            font-weight: bold;
        }

        img{
            width: 500px;
            height: 400px;
        }

    </style>

  

</head>
<body>
    <div class="container">
        <!-- Page heading -->
        <h1>Slice</h1>
        <a href="{% url 'logout_page' %}">Logout</a>
        <img src="https://jooinn.com/images/orange-fruit-4.jpg" alt="">
    </div>
</body>
</html>